body {
    margin: 0px;
    padding: 0px;
    background-color: #CCCCCC;
}
section {
    margin-left: 20px;
}
section header h1{
    font-size: 28px;
}
.one{
    font-style: italic;
    
}
.two{
font-size: 24px;
}