html {
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
}
h2 {
    font-family: Georgia, serif;
    line-height: 1.2;
}
section {
    display: flex;
    justify-content: space-between;
    margin: 20%;
    width: 45%;
    gap: 30px;
    max-width: 70vw;
    
    
} 

